name: outputtest workflow

on:
  push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: g++ -std=c++17 *.cpp
      - name: Run test
        run: ./run_test.sh
      - name: Diff
        run: diff output.txt units/good_output.txt
